<p>The 2019 year was another busy year for the Sysadmin team, with the GitLab migration starting to get underway.</p>

<p>This included initial discussions with the GitLab Team, evaluating features we would likely need, and deploying a test instance to allow for KDE developers to begin evaluating GitLab. As part of this, the feedback was collected from the KDE Community and ways to address issues were developed and discussed where needed with the GitLab team. Following a final discussion with the overall KDE Community, it was decided to migrate to GitLab, a process which started towards the end of the 2019 year.</p>

<p>Changes were also made under the hood to various parts of KDE Infrastructure, with DNSSEC being rolled out for the vast majority of domains we operate, including KDE.org. This helps ensure that end user systems are only contacting our systems when they ask to visit a KDE.org website by preventing DNS results from being altered without our knowledge.</p>

<p>Changes were also made to our Continuous Integration & Delivery systems, increasing their capacity to better handle peak loads and minimize the amount of time builds spend waiting at times of high load. Improvements were also made to our Android and Flatpak build support, enabling us to publish builds to an F-Droid compatible repository more quickly and scale up builds of both across multiple builders in the future more easily.</p>

<p>In addition to all of this, we also undertook a number of maintenance updates during the year to various services and upgraded others to keep everything in working order.</p>

<p>Created/Reinstated 90 Developer accounts</p>

<p>Created 7 kdemail.net aliases <br />
Disabled 1 kdemail.net aliases</p>

<p>Created 12 kde.org aliases<br />
Disabled 1 kde.org aliases<br />
Modified 8 kde.org aliases</p>

<p>Created 5 kde.org mailing-lists: kirigami cutehmi akademy-proposals cantor-bugs kde-kr <br />
Disabled 5 kde.org mailing-lists: dot-editors kdepim-maintainers social-media rocs-devel krecipes-devel</p>
