<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://github.com/psifidotos/Latte-Dock" target="_blank"><img src="images/kde-logo.png"/> LatteDock</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p><a href="https://github.com/psifidotos/Latte-Dock" target="_blank">LatteDock</a> is the favorite dock of many Plasma users. Based on Plasma Frameworks, it provides an elegant and intuitive experience for your tasks and plasmoids. LatteDock animates its contents by using the parabolic zoom effect, and in accordance with the Plasma vision statement, it tries to be there only when it's needed. The project motto is "Art in Coffee", with simplicity and elegance as its main focus. Latte uses only Qt, KDE/Plasma frameworks, and KWin to deliver all its features, so the users are guaranteed a stable, smooth, and comfortable experience under the Plasma environment.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>The new stable release of Latte Dock (v0.8) is planned for 2018, and it promises to bring even more exciting new features. During 2017, the Latte Dock project released two stable versions (v0.6 and v0.7). Currently, Latte supports a variety of customizations, such as different layouts, shadows, task filtering, window previews, different visibility modes, applets alignment, multiple screens, and more. Latte Dock can also mimic Plasma panels without losing any of its extra options.</p>
                </div>
            </div>
        </div>
        <div class="row">
		<div class="col-sm-12 pricing-table">
                    <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="folio-image">
                            <img class="img-responsive" src="images/latte.png" alt=""/>
                        </div>
                        <div class="overlay">
                            <div class="overlay-content">
                                <div class="overlay-text">
                                    <div class="folio-info">
                                        <h3>Latte Dock</h3>
                                        <p>Art in Coffee</p>
                                    </div>
                                    <div class="folio-overview">
                                        <span class="folio-expand">
                                            <a href="images/latte.png" data-lightbox="portfolio">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<br/>
