<br id="sysadmin-report"/>
<br/>
<br/>
<div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Sysadmin Working Group</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-info">
		    <p>2017 has been another busy year for the <a href="https://community.kde.org/Sysadmin" target="_blank">System Administration Team</a>. We continued building on work from last year, eliminating older legacy systems, consolidating and modernizing others, and rebuilding some parts to perform better. We converted several web applications into static sites. This ensures that their content will remain accessible in the future while eliminating most of the cost of keeping them online. Among notable accomplishments this year was the elimination of Drupal 6 and Debian Squeeze from our systems. For the first time in many years, we are now running on fully-supported software. We deployed a new server with more than 10 terabytes of usable storage, giving us plenty of capacity to handle growth on the mirror networks, maps, and Neon repositories. We also upgraded  number of servers to the latest LTS versions of their distributions, making sure that we stay on supported software going forward.</p>
            </div>
        </div>
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-info">
                <p>Continuous Integration was also an area that changed significantly this year. For the first time, we made available both FreeBSD and Windows builds. The general system was refactored to make builds more reliable and to allow for more build options in the future. Thanks to this work, limited Android builds are now also being performed for certain projects, and we can provide Frameworks builds against two different versions of Qt on Linux &#8210; something that has not been possible before.</p>
		<p>We set up a second Jenkins instance, known as the <a href="https://binary-factory.kde.org/" target="_blank">Binary Factory</a>, as well. This service has already proven beneficial. It produces signed Windows installers for several KDE projects, making it easier for users to access our software and for developers to provide this option. The factory also produces a public <a href="https://community.kde.org/Craft" target="_blank">Craft</a> cache to make it faster and easier for developers to set up a local Windows build environment.
</p>
            </div>
        </div>
        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-info">
                <p>We have also made a number of incremental improvements elsewhere. During the year, we separated our transactional mail from all the other email our systems send. This is an important step in ensuring that those with restrictive mail providers can continue to participate in the community. We continued to work on the Phabricator setup, with all repositories (including Subversion) being registered in it, and tweaks made to the Phabricator configuration to make it work better for the community. We also completed a comprehensive review of our systems, including a full review of our backup processes. This helped us improve the consistency of our setup and eliminate further technical debt.</p>
            </div>
        </div>
    </div>
    <section id="sysadmin-report-ref">
        <div class="container">
            <div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="row count">
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-cogs"></i>
                        <h3 class="timer">62</h3>
                        <p>Developer accounts created</p>
                    </div>
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-cogs"></i>
                        <h3 class="timer">2</h3>
                        <p>Developer accounts disabled</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-12 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">3</h3>
                        <p>kdemail.net aliases created</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">20</h3>
                        <p>kde.org aliases created</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">5</h3>
                        <p>kde.org aliases disabled</p>
                    </div>
                    <div class="col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-envelope-o"></i>
                        <h3 class="timer">8</h3>
                        <p>kde.org aliases modified</p>
                    </div>
                </div>
                <div class="row count">
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="timer">6</h3>
                        <p>kde.org mailing lists created
                            <br/>
                            <i class="italic">plasma-mobile, neon-notifications, atelier, advisory-board, heaptrack, elisa</i>
                        </p>
                    </div>
                    <div class="col-sm-6 col-xs-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-comments-o"></i>
                        <h3 class="timer">9</h3>
                        <p>kde.org mailing lists disabled
                            <br/>
                            <i class="italic">kde-i18n-fr, kde-licensing, inqlude, kde-sdk-devel, korganizer-devel, kde-solaris, bugsquad, kde-imaging, kde-policies</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
