<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://www.kde.org/plasma-desktop" target="_blank"><img src="images/plasma-logo.png"/></a> Plasma
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>Plasma 5 is maturing well. In late summer of 2016, the Plasma team felt confident enough to release the 5.8 version of the desktop with an extended warranty of two years. This is an important step in the lifetime of Plasma Desktop, since it allows enterprise users to upgrade to the latest and greatest now, and reap the benefits of continuous stabilization for the next two years. The Plasma LTS release has been planned in collaboration with both up- and downstream, resulting in a well-defined stack that can serve as the base for today's enterprise desktops.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>The work on Wayland also bleeds over into Plasma on X11, as it often brings performance improvements and quality enhancements for both platforms. At the end of 2016, developers were using Plasma on Wayland as their daily driver, and the team is planning to make Wayland support ready for all users in 2017. Plasma Mobile has seen important cleanups in the software stack. Kirigami, the application framework for convergent applications (those that morph between desktop and mobile UI) is now considered stable. Kirigami's design-driven user interface workflow makes it easier for developers to create applications that work well across a wide range of target devices. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>User reports about the 5.8 version have been very positive. Many of our users appreciate the work that goes into fixing bugs, polishing the user interface and improving its performance. Support for Wayland display servers is a multi-year project that allows us to make our graphics rendering stack leaner and more secure, leading to improved rendering quality and speed. It entails making Kwin, Plasma's window manager and compositor, a fully featured Wayland display server, and making components of the desktop and applications use Wayland for displaying graphics.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>A social highlight for Plasma in 2016 was the yearly Plasma sprint hosted by CERN in Geneva, Switzerland. For a week in March, the Plasma hackers and designers gathered around the biggest machine in the world - the Large Hadron Collider. They mulled over problems, discussed their code, and were only briefly but regularly interrupted by Italian meals and lectures about high-energy particle physics. A special moment of pride was shared when Plasma desktops were spotted in an LHC control room.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
