
{{ if .Page.Params.openpositions }}
  <h2>Open positions</h2>
  <p>KDE e.V. is hiring! The following positions are currently open:</p>

  {{ range .Page.Params.openpositions }}
  <div class="d-flex mb-4">
    <div class="mr-3">
      <img src="/corporate/pictures/open.png" width="160" height="160" />
    </div>
    <div class="people-content">
      <h3 class="mt-0">{{ .title }}</h3>
      <p>{{ .description | markdownify }}</p>
    </div>
  </div>
  {{ end }}
  <p>Instructions for applying can be found in each position's Call for Proposals document linked above.</p>
{{ else }}
  <p>There are no open positions at the moment.</p>
{{ end }}
