{{/*
SPDX-FileCopyrightText: 2023 Carl Schwan <carlschwan@kde.org>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{ range (index .Page.Params (.Get "name")) }}
<div class="d-flex my-4 gap-4">
  <div class="mr-3">
    <img src="{{ .image }}" width="160" height="160" />
  </div>
  <div>
    <h3 class="mt-0">{{ .name }}</h3>
    <p class="people-title">{{ .title }}</p>
    <p class="people-email">{{ .email | markdownify }}</p>
    <p>{{ .description | markdownify }}</p>
    {{ with .elected }}<p>(<i>Elected:</i> {{ . }})</p>{{ end }}
  </div>
</div>
{{ end }}


